body{
    margin: 0;
    padding: 160px 0;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    margin-bottom: .5em;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.938rem;
}

/* main */
main{
    width: 90%;
    max-width: 900px;
    margin-inline: auto;
    display: grid;
    grid-template-areas: 
    'one'
    'two'
    'three';
}

section{
    padding: 3em;
    box-sizing: border-box;
}

button{
    padding: 1em 2.5em;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    border-radius: 3rem;
    background-color: hsl(0, 0%, 95%);
}

section p{
    margin-bottom: 1.3em;
    line-height: 1.6rem;
    margin-bottom: 4.5em
}

/* left section */
.left-section{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.left-section button{
    color: hsl(31, 77%, 52%);
    border: 2px solid hsl(31, 77%, 52%);
    transition: background-color .25s;
}

.left-section button:active{
    border: 2px solid white;
    background-color: hsl(31, 77%, 52%);
    color: white;
}

/* mid-section */
.mid-section{
    background-color: hsl(184, 100%, 22%);
}

.mid-section button{
    color: hsl(184, 100%, 22%);
    border: 2px solid hsl(184, 100%, 22%);
    transition: background-color .25s;
}

.mid-section button:active{
    border: 2px solid white;
    background-color: hsl(184, 100%, 22%);
    color: white;
}

/* right section */
.right-section{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.right-section button{
    color: hsl(179, 100%, 13%);
    border: 2px solid hsl(179, 100%, 13%);
    transition: background-color .25s;
}

.right-section button:active{
    border: 2px solid white;
    background-color: hsl(179, 100%, 13%);
    color: white;
}



section:nth-child(1){
    grid-area: one;
}

section:nth-child(2){
    grid-area: two;
}

section:nth-child(3){
    grid-area: three;
}

footer{
    margin: 0 auto;
    width: 90%;
    max-width: 450px;
    margin-top: 2em;
    text-align: center;
    color: rgb(24, 32, 45);
    font-weight: 600;
}

footer p{
    color: black;
}

a{
    color: rgb(24, 32, 45);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* media query */
@media (min-width: 426px) and (max-width: 768px){
    main{
        grid-template-areas: 
        'one two'
        'three three';
    }

    .left-section{
        border-top-right-radius: 0;
    }

    .mid-section{
        border-top-right-radius: .5rem;
    }
}

@media (min-width: 769px){
    main{
        grid-template-areas: 
        'one two three';
    }

    .left-section{
        border-radius: 0;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

    .right-section{
        border-radius: 0;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    section p{
        width: 103%;
    }
}